*{

  font-family: "Poppins", sans-serif;
  
}

html{
  font-size: 62.5%;
}
.btn-all{
  position: relative;
  margin-top: 4rem;
}
.header{
  position: fixed;
  display:flex;
  background-color: white;
  height: 9.5rem;
  width: 136.55rem;
  z-index: 1;
}

.header-scroll{
  position: fixed;
  display:flex;
  background-color: white;
  height: 9.5rem;
  width: 136.55rem;
  z-index: 1;
  -webkit-box-shadow: 0 3rem 5rem rgba(57, 63, 72, 0.3);
  -moz-box-shadow: 0 3rem 5rem rgba(57, 63, 72, 0.3);
  box-shadow: 0 3rem 5rem rgba(57, 63, 72, 0.3);
}
.option{
  margin-top: 3rem;
}
.logo-h{
  display: block;
  margin-left: 5rem;
  margin-top: -0.5rem;
  height: 12.0rem;
  width: 12.0rem;
}

  ul{

    overflow:hidden;
    list-style: none
  }
  a{
    text-decoration: none;
    outline: none;
    color: black;
   
    background-color: transparent;
    font-weight: bold;
    font-size: 1.8rem;
    transition: color 0.25s;
  }
  
  .header-button{
    margin-top: 3.3rem;
    z-index: 2;
    
    
  }
  .home-h{
    margin-left: 32.0rem;
    
  }
  
  .about-h{
    margin-left: 4.5rem;
  }
  .skills-h{
    margin-left: 4.5rem;
  }

  .contact-h{
    margin-left: 4.5rem;
  }
 
  .btn-h{
    margin-left: 30.0rem;
    background-color: #c2fbd7;
    border-radius: 10.0rem;
    box-shadow: rgba(44, 187, 99, .2) 0 -25rem 18rem -14rem inset,rgba(44, 187, 99, .15) 0 1rem 2rem,rgba(44, 187, 99, .15) 0 2rem 4rem,rgba(44, 187, 99, .15) 0 4rem 8rem,rgba(44, 187, 99, .15) 0 8rem 16rem,rgba(44, 187, 99, .15) 0 16rem 32rem;
    color: green;
    cursor: pointer;
    display: inline-block;
    font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
    padding: 0.7rem 2.0rem;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 1.6rem;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }

.menu-logo{
  width: 0rem;
  height: 0rem;
}
.cbtn-close{
  cursor: default;
        pointer-events: none;        
        text-decoration: none;
        color: white;
}
.cbtn-c-logo{
  height: 0;
  width: 0;
}
.testing{
  margin-left: 60rem;
  margin-top: 2rem;

}
@media(min-width: 200px) and (max-width: 375px)  {
  .header-main{
   font-size: 1rem;
   margin-top: 1rem;
   width: 100%;
   height: 10rem;
   background-color: white;
   margin-top: -6.5%;
  
  }
  
  .header-button{
    width: 100%;
    height: 100%;
  }
  .header{
    width: 100%;
    position: relative;
   }
    .header-scroll{
      width: 100%;
     position: relative;
    }
    .logo-h{
      position: absolute;
      width: 8.5rem;
      height: 110%;
      margin-left: 8%;
      margin-top: 2%;
    }

    .home-h{
      position: absolute;
      margin-left: 0rem;
      cursor: default;
      pointer-events: none;        
      text-decoration: none;
      color: transparent;
    }
    .about-h{
      position: absolute;
          margin-left: 0rem;
          cursor: default;
          pointer-events: none;        
          text-decoration: none;
          color: transparent;
    }
    .skills-h{
      position: absolute;
          margin-left: 0rem;
          cursor: default;
          pointer-events: none;        
          text-decoration: none;
          color: transparent;
    }
    .contact-h{
      position: absolute;
      margin-left: 0rem;
      cursor: default;
      pointer-events: none;        
      text-decoration: none;
      color: transparent;
    }
    .btn-h{
      position: absolute;
      margin-left: 0rem;
      cursor: default;
      pointer-events: none;        
      text-decoration: none;
     
        background-color: transparent;
        border-radius: 0rem;
        box-shadow: none;
        color: transparent;
    
    }
    .testing{
      margin-left: 70%;
    
    }
    .menu-logo{
      position: absolute;
      z-index: 5;
      height: 4rem;
      width: 3rem;
      margin-top: 1rem;
      margin-left: 73%;
    }
    .cbtn-close{
      position: absolute;
          margin-left: 0rem;
          cursor: default;
          pointer-events: none;        
          text-decoration: none;
          color: transparent;
    }
    .btn-all{
      margin-top: 0%;
      margin-left: 78%;
    }

    .option{
      position: relative;
      width: 100%;
    }
    .menulogo-active{
      margin-left: 56.2%;
      margin-top: -9%;
      position: absolute;
      height: 2580%;
      width: 43.9%;
      background-color: #3b444b;
      z-index: 1;
      
    }
    .cbtn-a-logo{
      height: 10rem;
      width: 10rem;
      position: absolute;
      margin-left: -20%;
      z-index: 2;
    }
    .menu-logo-none{
      position: absolute;
      margin-left: 0rem;
      height: 0rem;
      width: 0rem;
    }

    .home-h-1{
      position: absolute;
      color: white;
      margin-top: 20%;
      margin-left: 72%;
      font-size: 1.5rem;
      z-index: 2;
    
    }
    .about-h-1{
      position: absolute;
      margin-left: 72%;
      color: white;
      z-index: 2;
      margin-top: 32%;
      font-size: 1.5rem;
    }
    .skills-h-1{
      position: absolute;
      margin-top: 44%;
      color:white;
      z-index: 2;
      margin-left: 72%;
      font-size: 1.5rem;
    }
    .contact-h-1{
      position: absolute;
      
      margin-left: 72%;
      color:white;
      z-index: 2;
      margin-top: 56%;
      font-size: 1.5rem;
    }
    .btn-h-1{
      position: absolute;
      margin-left: 68%;
      
      z-index: 2;
      margin-top: 68%;
      
        background-color: #c2fbd7;
        border-radius: 90rem;
        box-shadow: rgba(44, 187, 99, .2) 0 -25rem 18rem -14rem inset,rgba(44, 187, 99, .15) 0 1rem 2rem,rgba(44, 187, 99, .15) 0 2rem 4rem,rgba(44, 187, 99, .15) 0 4rem 8rem,rgba(44, 187, 99, .15) 0 8rem 16rem,rgba(44, 187, 99, .15) 0 16rem 32rem;
        color: green;
        cursor: pointer;
        display: inline-block;
        font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
        padding: 2.2% 3%;
        text-align: center;
        text-decoration: none;
        transition: all 250ms;
        border: 0;
        font-size: 1.4rem;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
     
    }
    .cbtn-active{
      margin-left: 77%;
    }
    .cbtn-a-logo{
      height: 2.5rem;
      width: 2.5rem;
      margin-top: 5%;
      margin-left: 7.9%;
      color:white;
    }
}


.btn-h:hover {
  box-shadow: rgba(44,187,99,.35) 0 -25rem 18rem -14rem inset,rgba(44,187,99,.25) 0 1rem 2rem,rgba(44,187,99,.25) 0 2rem 4rem,rgba(44,187,99,.25) 0 4rem 8rem,rgba(44,187,99,.25) 0 8rem 16rem,rgba(44,187,99,.25) 0 16rem 32rem;
  transform: scale(1.05) rotate(-1deg);
}


a:hover {
  color:#008080;
}

.home{
  display: flex;
}
.P1-h1{
  
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  margin-top: 22.0rem;
  margin-left: 12.0rem;
  font-family: "Fantasy";
  font-size: 8.0rem;
  width: 60.0rem;
}

.P1-p{
  margin-top: 3.0rem;
  margin-left: 12.0rem;
  font-size: 3.0rem;
  font-weight: inherit;

  
}
.part1-img{
  z-index:-5;
  margin-left: -7.0rem;
  margin-top: 13.0rem;
  width: 67.0rem;
  height: 52.0rem;
}




.b-p1 {
margin-top: 2.5rem;
margin-left: 24.0rem;
align-items: center;
appearance: none;
background-color: #008080;
background-image: linear-gradient(1deg, #4F58FD, #149BF3 99%);
background-size: calc(100% + 20rem) calc(100% + 20rem);
border-radius: 10.0rem;
border-width: 0;
box-shadow: none;
box-sizing: border-box;
color: #FFFFFF;
cursor: pointer;
display: inline-flex;
font-family: CircularStd,sans-serif;
font-size: 2rem;
height: auto;
justify-content: center;
line-height: 0.15;
padding: 0.5rem 2.0rem;
position: relative;
text-align: center;
text-decoration: none;
transition: background-color .2s,background-position .2s;
user-select: none;
-webkit-user-select: none;
touch-action: manipulation;
vertical-align: top;
white-space: nowrap;
}

.b-p1:active,
.b-p1:focus {
outline: none;
}

.b-p1:hover {
background-position: -2.0rem -2.0rem;
}

.b-p1:focus:not(:active) {
box-shadow: rgba(40, 170, 255, 0.25) 0 0 0 .125em;
}


@media(min-width: 200px) and (max-width: 375px) 
{
  .P1-h1{
    
    width: 100%;
    position: relative;
    margin-top: 40%;
    margin-left: 18%;
    font-size: 2.5rem;
  }
  .P1-p{
    
    position: absolute;
    font-size: 1.6rem;
    margin-top: 4%;
    margin-left: 10%;
    width: 80%

  }
  .b-p1 {
    position: absolute;
    margin-top: 52%;
    margin-left: 8%;
    height: 6%;
    width: 29%;
    font-size: 140%;
    
  }
  .part1-img{
    position: absolute;
    z-index: -10;
    width: 90%;
    height: 35%;
    margin-top: 65%;
    margin-left: 9.9%;
   
  }
}

.about{
 
  margin-top: 15rem;
}
  .h1-p2{
    
    color: #3b444b;
    margin-left: 52rem;
    font-size: 6rem;
  }
  .images-p2{
   
    margin-top: 0;
    margin-left: 0rem;
  }
  .bg-p2{
    position: absolute;
    z-index: 1;
    margin-top: -2rem;
    margin-left: 12rem;
    height: 60rem;
    width: 60rem;

  }
  .img-p2{
    border: 0.8rem solid white;
    z-index: 3;
    position: absolute;
    margin-top: 13rem;
    margin-left: 28rem;
    height: 28rem;
    width: 28rem;
    border-radius: 50%
  }
.text-p2{
  font-size: 2rem;
  margin-left: 73rem;
  margin-top: 17rem;
  font-style: Sans-serif;
}
  .h1-p2-1{
    
    color: #696969;
 
  }
 
.h1-p2-w{
  color: #202020;
  font-weight: bold;
}
.h1-p2-2{
  margin-top: 4rem;
  color: #696969;
}
.h1-p2-3{
  margin-top: 4rem;
  color: #696969;
}


@media(min-width: 200px) and (max-width: 375px)
{
  .about{


    margin-top: 115%;
     width: 100%;
  }
  .h1-p2{

  
    font-size: 3rem;
    margin-left: 38%;
    margin-bottom: 1rem;
    margin-top: 9%;
    width: 60%;
  }
  .images-p2{
    position: relative;
    width: 70%;
  }
  .bg-p2{
    position: relative;
    margin-top: 10%;
    margin-left:  20%;
    width: 120%;
    height: 70%
  }
  .img-p2{
     position: absolute;
    margin-top: -95%;
    margin-left: 50%;
    width: 55%;
    height: 45%;
  }
  
  .text-p2{
    
    width: 70%;
    display: block;
    margin-left: 18%;
    margin-top: 5%;
    font-size: 2.5rem;
    
   }
  
}